{% extends 'accounts/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}" />

<div class="container">
    {% if messages %}
    {% for message in messages %}
    <p id="error" style="font-size: 15px; color: red;">{{message}}</p>
    {% endfor %}
    {% endif %}

    <h2>Find Your Account</h2>
    <p>Enter your username or email address. <span>Can't reset your password?</span></p>
    
    <form onsubmit="show(event)" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{user_id}}">
        <input id="name" type="text" name="identifier" placeholder="username or email address" required/><br />
        <p id="help_text">You may receive WhatsApp and SMS notifications from us for security and login purposes.</p>

        <input type="submit" value="Continue">
    </form>

    <div id="modal">
        <div class="bar">
            <h2>Check your email</h2>
            <i id="x" onclick="hide()" class="fa-solid fa-xmark"></i>
        </div>
        <p>If an account matches the information you entered, you'll receive a message with a link to help you log back in.</p>
        <button onclick="hide()" id="ok">OK</button>
    </div>
</div>

<script>
    modal = document.getElementById('modal')
    input = document.getElementById('name')
    body = document.getElementsByTagName('body')[0]

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
    async function show(e){
        e.preventDefault()

        try {
            const url = 'http://127.0.0.1:8000/forgot_password/';
            const payload = {
                identifier: input.value
            };

            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
            });
            
            if (!response.ok) {
                console.log(response)
                document.getElementById('error').value = 'something went wrong, please try again later.';
                
            }
            
            // 3. Extract and parse the JSON data from the response
            const data = await response.json();
            if (data.status!=200){
                document.getElementById('error').value = 'something went wrong, please try again later.';
            }
        } catch (error) {
            // 4. Handle errors (e.g., network failure or bad JSON)
            console.error('Failed to fetch data:', error);
        }
        modal.style.display = 'block';
        body.style.backgroundColor = '#666666';
        input.style.backgroundColor = '#666666';
    }

    function hide(){
        
        modal.style.display = 'none';
        body.style.backgroundColor = 'white';
        input.style.backgroundColor = 'white';
    }
</script>

{% endblock %}