.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 5%;
}

input{
    font-size: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    height: 30px;
}

input[type='submit']{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #0064E0;
}

#login{
    display: block;
    text-align: center;
    width: 500px;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    margin-top: 20px;
    border: 1px solid #0064E0;
    color: #0064E0;
    text-decoration: none;
}

#login:hover {
    background-color: #80808040;
}


.post-box{
    position: absolute;
    top: 0%;
    left: 25%;
    width: 34em;
    height: 100%;

}

.post-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0 10px;
    margin-right: 10px;
}

.follow{
    background-color: #F0F2F5;
    font-weight: bold;
    font: 15px;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
}

.follow:hover{
    background-color: #aaafb654;
    cursor: pointer;
}

menu{
    display: none;
}

.menu-icon{
    cursor: pointer;
}

.post-img{
    width: 34em;
    max-height: 38em;
}