.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 5%;
}

span{
    color: #0064e0;
}

input{
    font-size: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    height: 30px;
}

input[type='submit']{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #0064E0;
}

#help_text{
    font-size: 15px;
}

#modal{
    display: none;
    position: fixed;
    background-color: white;
    width: 450px;
    border-radius: 30px;
    border: none;
    padding: 5px 18px;
    padding-bottom: 15px;
    bottom: 30%;
    left: 30%;
}

#ok{
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #0064E0;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#x{
    padding: 10px;
}

#x:hover{
    background-color: #6666662b;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}