{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="post-box" id="post-box">
    {% for post in page_obj %}
    <div class="post-bar">
        <div class="left">
            <img style="height: 30px; width: 30px; border: none; border-radius: 25px;"
                src="{{post.post.user.profile_pic.url}}" alt="Profile">
            <p>{{post.post.user.username}}</p>
            <i class="fa-solid fa-certificate" style="color: rgb(29, 132, 212);"></i>
            <i class="fa-solid fa-circle" style="height: 5px; width: 5px;"></i>
            <p>{{post.instagram_time}}</p>
        </div>
        <div class="right">
            <button class="follow">Follow</button>
            <p class="menu-icon" onclick="showMenu()">
                ...
            </p>
        </div>
    </div>
    <img class="post-img" src="{{post.file.url}}" alt="">
    <div class="post-bar" style="margin-top: 0;">
        <div class="left">
            <i class="fa-regular fa-heart"></i>
            <p>28.9K</p>
            <i class="fa-regular fa-comment"></i>
            <p>28K</p>
            <i class="fa-regular fa-paper-plane"></i>
        </div>
        <div class="right">
            <i class="fa-regular fa-bookmark"></i>
        </div>
    </div>
    <div class="comment-section">
        <span class="username">
            {{user.username}}
            <i class="fa-solid fa-certificate" style="color: rgb(29, 132, 212);"></i>
        </span>

        <span class="caption-text">
            {{post.post.caption}}
        </span>

        <span class="more-btn">more</span>
    </div>
    {% endfor %}
</div>

<div class="profile-section">
    <div>
        <img style="height: 30px; width: 30px; border: none; border-radius: 25px;" src="{{user.profile_pic.url}}"
            alt="Profile">
        <p>{{user.username}}</p>
    </div>
    <p style="position: relative; left: 70%; left: 77.8em; bottom: 29px; font-size: 14px; color: grey;">{{user.name}}
    </p>
</div>



<menu id="menu">
    <ul>
        <li><a href="" style="color: red;">Report</a><br></li>
        <li><a href="">About this account</a><br></li>
        <li><a href="">Got to post</a><br></li>
        <li><a href="">Share to...</a><br></li>
        <li><a href="">Copy Link</a><br></li>
        <li><a href="">Embed</a><br></li>
    </ul>
</menu>



<input type="hidden" value="{{page_obj.has_next}}" id="has_next"></input>
<input type="hidden" value="{{page_obj.next_page_number}}" id="next_page_num"></input>
<script>
    next = document.getElementById('has_next')
    next_page_num = document.getElementById('next_page_num')

    async function getPosts(page_num) {
        const response = await fetch(`http://127.0.0.1:8000/home?page=${page_num}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Accept': 'application/json'
            }
        });
        const posts = await response.json();
        return posts;
    }

    $(window).scroll(async function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            console.log(next.value)
            if (next.value && next_page_num.value) {
                const data = await getPosts(next_page_num.value);
                postBox = document.getElementById('post-box')

                data.posts.forEach(post => {
                    postBox.innerHTML += `
                            <div class="post-bar">
                                <div class="left">
                                    <img style="height: 30px; width: 30px; border: none; border-radius: 25px;" src="${post.profile_pic}" alt="Profile">
                                    <p>${post.username}</p>
                                    <i class="fa-solid fa-certificate" style="color: rgb(29, 132, 212);"></i>
                                    <i class="fa-solid fa-circle" style="height: 5px; width: 5px;"></i>
                                    <p>${post.instagram_time}</p>
                                </div>
                                <div class="right">
                                    <button class="follow">Follow</button>
                                    <p class="menu-icon">...</p>
                                </div>
                            </div>
                            <img class="post-img" src="${post.file_url}" alt="">
                            <div class="post-bar" style="margin-top: 0;">
                            <div class="left">
                                <i class="fa-regular fa-heart"></i>
                                <p>28.9K</p>
                                <i class="fa-regular fa-comment"></i>
                                <p>28K</p>
                                <i class="fa-regular fa-paper-plane"></i>
                            </div>
                            <div class="right">
                                <i class="fa-regular fa-bookmark"></i>
                            </div>
                        </div>
                        <div class="comment-section">
                            <span class="username">
                                ${post.username}
                                <i class="fa-solid fa-certificate" style="color: rgb(29, 132, 212);"></i>
                            </span>

                            <span class="caption-text">
                                ${post.caption}
                            </span>

                            <span class="more-btn">more</span>
                        </div>
                        `;
                });

                // Update tracker attributes for the subsequent page
                next.value = (data.has_next ? 'true' : 'false');
                next_page_num.value = data.next_page_number;
            }
        }
    });
</script>
<!-- <i class="fa-solid fa-heart" style="color: rgb(246, 0, 56);"></i> -->

<script>
    menu = document.getElementById('menu')
    function showMenu() {
        if (menu.style.display == 'block') {
            menu.style.display = 'none';
        }
        else {
            menu.style.display = 'block';
            menu.style.position = 'relative';
            menu.style.left = '56em';
            menu.style.backgroundColor = '#F9FAFA';
            menu.style.maxWidth = 'fit-content';
            menu.style.padding = '20px';
            menu.style.borderRadius = '15px';
        }
    }

    document.querySelectorAll('.comment-section').forEach(section => {
        const text = section.querySelector('.caption-text');
        const moreBtn = section.querySelector('.more-btn');

        text.classList.add('collapsed');

        // Check if text exceeds 2 lines
        setTimeout(() => {
            if (text.scrollHeight > text.clientHeight) {
                moreBtn.style.display = 'inline';
            }
        }, 0);

        moreBtn.addEventListener('click', () => {
            text.classList.remove('collapsed');
            moreBtn.style.display = 'none';
        });
    });
</script>

{% endblock %}